# Solarlog config example
export SOLARLOG_TOKEN="eyJhbGciOiJSUzI1N.........."
export SOLARLOG_PLANT="1ef59795-736c-625a-9362-6b06f3426853"
export SOLARLOG_BASE_URL="https://solcellespesialisten.enerest.world/api"